  header {
     background-color: rgb(69, 84, 160);
     color: white;
     display: flex;
  }

 .cabecalho-imagem {
        width: 20%;
  }

  .cabecalho{
background-image: url(./GreysCoverPhoto.jpg);
background-repeat: no-repeat;
background-size:cover;
width: 100%;
  }